<script>
    $(function () {
        $('#plate_name_area').append($('#tabacustomfields_shopping_confirm'));
    });
</script>
<div id="tabacustomfields_shopping_confirm">
							<div class="p-shopping1__table">
    {% for f in form if f.vars.eccube_form_options.auto_render and f.vars.name matches '[^plg_custom_field*]' %}

    <div class="ec-tabaCustomFields">
        {% if f.vars.eccube_form_options.form_theme %}
            {% form_theme f f.vars.eccube_form_options.form_theme %}
            {{ form_row(f) }}
        {% else %}
								<dl>

            <dt>{{ form_label(f) }}</dt>
<dd>
             {% if (f.vars.data is iterable) %}
                {{ f.vars.data|join(', ') }}
            {% else %}
                {{ f.vars.data }}
            {% endif %}
            {{ form_widget(f, {attr: {readonly: 'readonly', class: 'hide'}}) }}
            </dd>
        </dl>
        {% endif %}
    </div>
    {% endfor %}
</div></div>