{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'withdraw' %}

{% set body_class = 'mypage' %}

{% block main %}

<link rel="stylesheet" href="/ec4/html/template/default/assets/css/style.css">

<div class="l-wrap">
    <div class="l-naviPage"></div>
    <div class="l-main">
        <main class="p-login cart_top">

        <div class="c-breadcrumb">
            <ul class="c-breadcrumb_list">
                <li class="c-breadcrumb_item"><a href="/"><span>ホーム</span></a></li>
                <li class="c-breadcrumb_item"><span>マイページ</span></li>
            </ul>
        </div><!-- End breadcrumb-->

            <section class="p-login_sc01">
                <div class="l-cont">
                    <div class="c-block01">
                        <h2 class="c-block01_ttl">{{ 'マイページ'|trans }}/{{ '退会手続き'|trans }}</h2>
                   </div><!-- End c-block01-->


    <div class="ec-layoutRole__main">
        <div class="ec-mypageRole">
            {{ include('Mypage/navi.twig') }}
        </div>
        <div class="ec-mypageRole">
            <div class="ec-withdrawConfirmRole">
                <div class="ec-off3Grid">
                    <div class="ec-off3Grid__cell">
                        <div style="font-size:100px;text-align:center;">
                            <div class="ec-icon"><img src="{{ asset('assets/icon/exclamation.svg') }}" alt=""></div>
                        </div>
                        <p class="ec-withdrawConfirmRole__title">{{ '退会手続きを実行してもよろしいでしょうか？'|trans }}</p>
                        <p class="ec-withdrawConfirmRole__description">{{ '退会手続きが完了した時点で、現在保存されている購入履歴やお届け先等の情報は、すべて削除されますのでご注意ください。'|trans }}
                        </p>
                    </div>
                </div>
                <form method="post" action="{{ url('mypage_withdraw') }}">
                    {{ form_widget(form._token) }}
                    <div class="ec-off4Grid">
                        <div class="ec-off4Grid__cell">
                            <a class="ec-withdrawConfirmRole__cancel ec-blockBtn--cancel" href="{{ url('mypage') }}">
                                {{ 'いいえ、退会しません'|trans }}
                            </a>
                            <button type="submit" class="ec-blockBtn" name="mode"
                                    value="complete">{{ 'はい、退会します'|trans }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

                </div>
            </section><!-- End p-login_sc01-->
        </main><!-- End p-login-->
    </div><!-- End l-main-->
</div><!-- End l-wrap-->

{% endblock %}
